html {
    scroll-behavior: smooth; /* animação ao clicar no produtos e serviços */
}

body {
    margin: 0px;
    padding: 0vh 2vw;
    background-color: rgba(0, 0, 0);
    font-family: "BMWTypeNext", Arial, Helvetica, sans-serif;
}

body.modal-aberto {
    overflow: hidden; /* tirar scroll lateral ao abrir modal */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* centraliza verticalmente */
    padding: 0 5vw;
    height: 11vh;
    width: 100%;
    border-bottom: 1px solid white;
    background: transparent;
    box-sizing: border-box; /* caber tudo dentro do header */
}

header li a:hover {
    text-decoration: underline;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.logo-container img {
    height: 30vh;
    width: auto;
}

nav ul {
    display: flex;
    gap: 2rem;
    margin: 0px;
    padding: 0px;
    list-style: none; /* remove as bolinha da lista */
}

h1 {
    font-size: 2rem;
}

section>article>span {
    font-size: 1.5rem;
}

section {
    display: flex;
    flex-wrap: wrap; /* se faltar espaço no pai, o filho vai quebrar a linha e ir pra baixo */
    padding: 1rem;
    justify-content: center;
}

article {
    flex: 1 1 200px; /* Flex: grow, shrink, basis - inicia com 200px, mas ajusta conforme espaço disponivel */
    text-align: center;
}

.texto-detalhamento {
    text-align: start;
    color: white;
}

.banner-container {
    display: flex;
    justify-content: center; /* border-bottom: 1px solid white; */
}

.banner-image {
    height: 95vh;
    width: 100%;
}

.carrossel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
}

.carrossel {
    cursor: pointer;
}

.item {
    flex-shrink: 0; /* nao permite encolher o item */
    transition: transform 0.3s, filter 0.3s, opacity 0.3s;
}

.item img {
    object-fit: cover; /* Preencha todo o espaço mesmo que precise cortar parte da imagem para caber */
    border-radius: 10px;
}

.item.esquerda img, .item.direita img {
    filter: brightness(0.5) blur(2px); /* deixa escura e aplica desfoque de 2px*/
    transform: scale(0.8); /* reduz o o tamanho do item em 80% */
    opacity: 0.6; /* aplica desfoque, deixando transparente */
}

.item.central img {
    filter: none; /* deixa o item sem filtro */
    transform: scale(1); /* deixa o item com 100% do seu tamanho */
    opacity: 1; /* deixa sem desfoque */
}

.caracteristicas-section {
    display: flex;
    justify-content: start;
    color: black;
    background-color: white;
}

.caracteristicas-section h2 {
    font-size: 2.5rem;
}

.caracteristicas-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.caracteristica-item {
    text-align: start;
    max-width: 22%;
    padding: 1rem;
}

.caracteristica-item h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.caracteristica-item p {
    font-size: 1rem;
    line-height: 1.5; /* espaçamento vertical entre as linhas (docs) */
}

.rodape {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid white;
    background-color: black;
    color: white;
    text-align: center;
}

.rodape-item {
    flex: 1 1 1vh;
    flex-direction: column;
}

.rodape-item h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.rodape-item p {
    margin: 0;
    font-size: 1rem;
}

.rodape-item a {
    color: white;
}

.rodape-item a:hover {
    color: #0000EE;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-conteudo {
    background-color: rgb(15, 15, 15);
    border-radius: 5px;
    padding: 2rem;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    position: relative;
}

.modal-fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.modal-fechar:hover {
    color: red;
    text-decoration: underline;
}

.modal-conteudo h2 {
    margin-top: 0;
    color: white
}

.modal-conteudo p {
    margin: 0.5rem 0;
    color: white;
}

.item img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.item img.fade-out {
    opacity: 0;
}

.linkContato {
    transition: transform 0.15s ease-out;
}

.linkContato:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .rodape {
        flex-direction: column;
        align-items: center;
    }

    .caracteristicas-container {
        flex-direction: column;
        align-items: center;
    }

    .caracteristica-item {
        max-width: 90%;
    }
}

@media (max-width: 725px) {
    .carrossel-container{
        display: none;
    }
}

@media (max-width: 672px) {
    .logo-container img {
        display: none;
    }
}

.caracteristica-item h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.caracteristica-item p {
    font-size: 1rem;
    line-height: 1.5; /* espaçamento vertical entre as linhas (docs) */
}